/* 
    color 1: #52071e 
    color 2: #380412
*/

body {
    background: linear-gradient(to left, #52071e 50%, #380412 50%);
    width: 100%;
    height: 1000px;
    font-family: 'Roboto', sans-serif;
}

#logo {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 14px;
    padding-left: 0px;
    filter: brightness(0) invert(1);
}

#clock {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    padding: 15px;
    font-size: 3em;
    background-color: white;
    float: left;
    font-weight: 900;
}
