/* 
    color 1: #52071e 
    color 2: #380412
*/

@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

body {
    background: linear-gradient(to left, #52071e 50%, #380412 50%);
    width: 100vw;
    height:100vh;
    font-family: 'MyriadProRegular';
    color: #fff;
    margin: 0;
    padding: 50px;
}

#logo {
    filter: brightness(0) invert(1);
    left: 50%;
    position: absolute;
}

.italic {
    font-style: italic;
    font-weight: 100;
}

.bold {
    font-weight: bolder;
}

.text-info {
    font-size: 50px;
}

.donation-text {
    clear: both;
    text-align: center;
    font-size: 30px;
    padding-top: 3em;
}

.datetime {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    padding: 15px;
    background-color: white;
    float: left;
    font-weight: 900;
}

#clock {
    font-size: 3em;
    min-height: 60px;
    color: #380412;
}

#dayOfTheWeek {
    float: left;
    clear: left;
}

#date {
    float: left;
    clear: left;
}

#islamicDate {
    float: left;
    clear: left;
}

#dayOfTheWeek, #date, #islamicDate {
    font-size: 3em;
}

.daily-prayer-times {
    font-size: 2em;
    text-align: right;
    margin: 0px auto;
}

.daily-prayer-times th {
    font-weight: bolder;
    font-size: 0.8em;
}

.daily-prayer-times td,  .daily-prayer-times th {
    margin: 100px;
}

.daily-prayer-times th:first-child {
    font-size: 1.2em;
    text-align: left;
}

.daily-prayer-times .mithl-text {
    font-size: 0.5em;
    max-width: 50px;
}

.daily-prayer-times td {
    min-width: 100px;
}

.daily-prayer-times td:last-child {
    font-weight: bolder;
}